@import '../../utils/mixins';

.users {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @include onTablet {
      gap: 16px;
    }

    @include onDesktop {
      gap: 29px;
    }
  }

  &__button {
    align-self: center;
  }
}
