.add-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 50px;

  &__success {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  &__success-close {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    background-color: #00bdd3;
    border-radius: 50%;
    width: 20px;
    line-height: 20px;
  }

  &__success-text {
    font-size: 40px;
    line-height: 40px;
  }
}
