.text-field {
  position: relative;

  &__input {
    width: 100%;
    padding: 13px 0 13px 14px;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    background: #f8f8f8;

    font-family: inherit;
    font-size: inherit;
    line-height: 26px;

    &::placeholder {
      color: #7e7e7e;
    }

    &--error {
      border: 1px solid #cb3d40;
    }
  }

  &__error-message {
    bottom: -50%;
    position: absolute;
    padding-left: 16px;
    text-align: left;
    color: #cb3d40;

    font-size: 10px;
  }
}
