* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

.page {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  scroll-behavior: smooth;

  background-color: #f8f8f8;

  &__title {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
  }

  &__body {
    margin: 0;

    &--modal-open {
      overflow: hidden;
    }
  }
}
